.Cubo{

	width: fit-content;
	height: fit-content;
	line-height: 1.5;
	padding: 10px;
	justify-content: center; 
    align-items: center; 

} /* quadradinho de item */

.Orizon{

	width: 100%;
	display: flex;
	align-self: center;
	justify-content: center;
    align-items: center;

} /* organização horizontal centro */

.orient{

	width: fit-content;
	height: fit-content;
	font-size: 20;
	font-style: oblique;
	font-weight: bolder;

}

.title{

	width: 100%;
	height: fit-content;
	

}
